body {
	margin: 20px 50px 30px 50px;
}

img {
	 border: 2px grey;
	 padding: 25px;
	 border-style: groove;
}

footer {
	text-align: center;
}

#background {
background-image: url("images/00000007.jpg");
width:	400px;
padding: 10px;

}
#font {
	font: italic bold 12px/30px Georgia, serif;
	width: 850px;
}

a:visited {
    color: pink;
    }

@media screen and (max-width: 500px) {
  #wrapper {
    font-size: 20px;
  }
}